.App {
  text-align: center;

  /* background-image: url(../src/views/pokemon.png);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  background-color: orange; */
}
