.pokedex {
    width: 350px;
    height: 430px;
    background-color: #f1f1f1;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 15px auto;
  }

  .pokedex:hover {
    transform: scale(1.05);
  }
  .name{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
  }
  .screen {
    height: 250px;
    background-color: #000;
    margin-bottom: 1px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }


  .yellowp{
    width: 30%;
    height: 45px;
    margin: 10px;
    border: none;
    border-radius: 25%;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    color: #000;
    background-color: #ffd64c;
  }
  
  .greenp{
    width: 30%;
    height: 45px;
    margin: 10px;
    border: none;
    border-radius: 20%;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #000;
    background-color: #4cff4c;
  }
  