.h1{
    background-color: black;
    border: 2px solid wheat;
    border-radius: 2px;
    font-family: 'Press Start 2P', cursive;
    color: #dcff18;
    padding: 15px;
    margin: 1rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #27ae60;
}

.btn:active {
    background-color: #1e8449;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.span{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.pageNumbers{
    display: flex;
    list-style: none;
    justify-content: center;

}

.pageNumbers li{
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pageNumbers li:active{
    background-color: greenyellow;
    color: black;
}